<!--
  Copyright 2012 Xeno Innovations, Inc.

-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <title>Project  - [PMT]</title>
    <link type="text/css" href="http://pmt/lib/themes/default/skin.css" rel="stylesheet" />
      </head>
  <body>

    <div id="header">
      <div id="logo">
        <!-- logo -->
        <a id="logo" href="/" alt="xenoPMT Dashboard">
          <img height="61" width="214" alt="xenoPMT Dashboard"
              src="http://pmt/lib/themes/default/gfx/logo.png" />
        </a>
      </div>
      <div id="metabar" class="metanav">
        <!-- (Login / View Profile), Account Settings, Logout -->
                <ul>
<li class="first">Welcome, <a href="/user" alt="User's Dashboard">admin</a></li><li>Preferences</li><li>About xenoPMT</li><li class="last"><a href="http://pmt/user?cmd=logoff">Logoff</a></li>        </ul>
      </div>
    </div>
    <div id="mainbar" class="tbar">
      <!-- toolbar -->
              <ul>
          <li class="first"><a href="http://pmt/dashboard">Dashboard</a></li>
          <li class="active"><a href="http://pmt/p">Projects</a></li>
          <li><a href="http://pmt/ticket">Tickets</a></li>
          <li><a href="http://pmt/bugs">Bugs</a></li>
          <li><a href="http://pmt/tasks">Tasks</a></li>
          <li><a href="http://pmt/product">Products</a></li>
          <li><a href="http://pmt/customer">Customers</a></li>
          <li><a href="http://pmt/user">Users</a></li>
          <li class="last"><a href="http://pmt/admin">Admin</a></li>
        </ul>
    </div>


    <div id="container">
      <div id="minibar_left" class="nav_left">
        <!-- breadcrumbs left -->
              </div>
      <div id="minibar_right" class="nav_right">
        <!-- mini toolbar for module -->
        <ul><li class='last'><a href="http://pmt/p?cmd=new">Create Project</a></li></ul>      </div>

      <div id="main">
<h1>Projects</h1><p>There are no projects to view</p><p>If permissions allow, you may <a href="http://pmt/p?cmd=new">Create</a> a new project</p>
      </div>
    </div>

    <div id="footer">

    </div>

  </body>
</html>