<!--
  Copyright 2012 Xeno Innovations, Inc.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <title>Project  - [PMT]</title>
    <link type="text/css" href="http://pmt/lib/themes/default/skin.css" rel="stylesheet" />
      </head>
  <body>

    <div id="header">
      <div id="logo">
        <!-- logo -->
        <a id="logo" href="/" alt="xenoPMT Dashboard">
          <img height="61" width="214" alt="xenoPMT Dashboard"
              src="http://pmt/lib/themes/default/gfx/logo.png" />
        </a>
      </div>
      <div id="metabar" class="metanav">
        <!-- (Login / View Profile), Account Settings, Logout -->
        <ul>
          <li class="first">Welcome, <a href="/user" alt="User's Dashboard">admin</a></li>
          <li>Preferences</li>
          <li>About xenoPMT</li>
          <li class="last"><a href="http://pmt/user?cmd=logoff">Logoff</a></li>
        </ul>
      </div>
    </div>
    <div id="mainbar" class="tbar">
      <!-- toolbar -->
              <ul>
          <li class="first"><a href="http://pmt/dashboard">Dashboard</a></li>
          <li class="active"><a href="http://pmt/p">Projects</a></li>
          <li><a href="http://pmt/ticket">Tickets</a></li>
          <li><a href="http://pmt/bugs">Bugs</a></li>
          <li><a href="http://pmt/tasks">Tasks</a></li>
          <li><a href="http://pmt/product">Products</a></li>
          <li><a href="http://pmt/customer">Customers</a></li>
          <li><a href="http://pmt/user">Users</a></li>
          <li class="last"><a href="http://pmt/admin">Admin</a></li>
        </ul>
    </div>


    <div id="container">
      <div id="minibar_left" class="nav_left">
        <!-- breadcrumbs left -->
              </div>
      <div id="minibar_right" class="nav_right">
        <!-- mini toolbar for module -->
              </div>

      <div id="main">
        <!-- ##### Edit AFTER Here ######### -->


        <h1>Create Project</h1>
        <!-- <div class="tablethin"> -->
        <div>
          <table width="800px" cellspacing="0" class="tablethin">
            <tr><td class="tblheader first" colspan="2">Project Name</td></tr>
            <tr>
              <td>
                Name of your project<br />
                <i>(Only Alpha-Numeric, no spaces, no slashes, no BS!)</i>
              </td>
              <td style="text-align: right;"><input type="text" name="txtProjName" value="" /></td>
            </tr>

            <tr><td class="tblheader" colspan="2">Created Date</td></tr>
            <tr>
              <td>When was the project created <i>(YYYY-MM-DD)</i></td>
              <td style="text-align: right;"><input type="text" name="txtCreatedDTTM" value="YYY-MM-DD" /></td>
            </tr>


            <!--
            <tr><td class="tblheader" colspan="2">Project Managers</td></tr>
            <tr>
              <td valigh="top">
                Choose the project managers to control
                the project properties.
              </td>
              <td width="200">
                <select name="managers[]" multiple="multiple" style="width:100%;height:50px;">
                  <option value="1">admin</option>
                </select>
              </td>
            </tr>

            <tr><td class="tblheader" colspan="2">Project Stakeholders</td></tr>
            <tr>
              <td valigh="top">
                Select the users which have access to view and update the project's
                tickets/bugs/tasks.
              </td>
              <td width="200">
                <select name="managers[]"
                    multiple="multiple" style="width:100%;height:50px;">
                  <option value="1">admin</option>
                </select>
              </td>
            </tr>
            -->


            <tr><td class="tblheader" colspan="2">Description</td></tr>
            <tr>
              <td colspan="2">
                <textarea name="txtDescription"
                  style="width:99%;height:300px"></textarea>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <input type="submit" value="Create Project" />
              </td>
            </tr>

          </table>
        </div>


        <!-- ##### Edit BEFORE Here ######### -->
      </div>

    </div>

    <div id="footer">

    </div>

  </body>
</html>