##################################################
# Copyright 2010-2012 (C) Xeno Innovations, Inc. #
# Created by: Damian J. Suess                    #
##################################################
# Test PHP with:
#   print_r($_GET);
#
# Change Log
# [2012-01-18]
#   + Rewrote whole HTAccess file (djs)
#####

##########################
# Options +FollowSymLinks
# RewriteEngine on
# RewriteRule ^prog/(.*)/ticket/(.*) ?prog=$1&ticket=$2
#
# From: http://pmt/prog/555/ticket/2
# TO:   http://pmt/?prog=555&ticket=2
######################


Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)$ index.php?PAGE=$1 [L,QSA]      # Sample "last"

# Custom project rule
#RewriteRule ^project/(.*)/ticket/(.*) index.php?project=$1&ticket=$2
RewriteRule ^project/(.*) index.php?project=$1

# Custom user rule
RewriteRule ^user/(.*) index.php?user=$1

###############################
## Removed until a better HTAccess is created
## for now, use direct connect.
#
# Installer
#RewriteRule ^install /install/index.php
###############################

#
## Removed 2012-01-30 - because installer breaks
##
# Final decision
#RewriteRule .* index.php